html,
body {
  margin: 0;
  padding: 0;
  background: rgb(13, 17, 23);
}

canvas {
  background: rgb(13, 17, 23);
  margin: 0 auto;
  display: block;
  position: absolute;
}

#controlPanel {
  top: -284px;
  left: 16px;
  position: absolute;
  transition: top 0.5s;
}

#controlPanel:hover {
  top: 0px;
}

#triggerControls {
  padding: 8px;
  color: white;
  text-align: center;
  background-color: rgba(54, 65, 80, 0.75);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#controls {
  background-color: rgba(54, 65, 80, 0.5);
  margin-top: 16px;
  padding: 16px;
  display: flex;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  flex-direction: column;
  gap: 16px;
}

label {
  padding-right: 6px;
  color: white;
}

.labeledRange {
  display: flex;
  flex-direction: column;
}

.labeledCheckbox {
  display: flex;
}

@media only screen and (max-width: 700px) {
  #controlPanel {
    top: -338px;
    left: 0;
    width: 100%;
    font-size: 26px;
  }

  #triggerControls {
    border-radius: 0;
  }

  #controls {
    border-radius: 0;
    margin-top: 0;
  }

  button {
    font-size: 22px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  #controlPanel {
    top: -378px;
    min-width: 40%;
    font-size: 30px;
  }

  button {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1200px) {
  .labeledCheckbox input {
    align-self: center;
    width: 25px;
    height: 25px;
  }
}
