html,
body {
  margin: 0;
  padding: 0;
  background: rgb(13, 17, 23);
}

canvas {
  background: rgb(13, 17, 23);
  margin: 0 auto;
  display: block;
  position: absolute;
}

#controlPanel {
  top: -269px;
  left: 16px;
  position: absolute;
  transition: top 0.5s;
  background-color: rgba(54, 65, 80, 0.5);
  border-radius: 12px;
}

#controlPanel:hover {
  top: 16px;
}

#triggerControls {
  padding: 6px;
  color: white;
  text-align: center;
}

#controls {
  background-color: rgba(54, 65, 80, 0.5);
  padding: 16px;
  display: flex;
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  flex-direction: column;
  gap: 16px;
}

label {
  padding-right: 6px;
  color: white;
}

.labeledRange {
  display: flex;
  flex-direction: column;
}

.labeledCheckbox {
  display: flex;
}
